.generate-invoice-wrapper{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}

.generate-invoice-wrapper button{
    padding: 12px 22px;
    font-size: 18px;
    font-weight: 600;
    background-color: blue;
    outline: none;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}